--
-- PostgreSQL database dump
--

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: ad_snapshots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ad_snapshots (
    id text NOT NULL,
    "pageId" text NOT NULL,
    "totalAds" integer NOT NULL,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "collectionPeriod" text DEFAULT '8d'::text NOT NULL,
    "scrapeDuration" integer,
    success boolean DEFAULT true NOT NULL,
    "errorMessage" text,
    "rawData" jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.ad_snapshots OWNER TO postgres;

--
-- Name: metrics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.metrics (
    id text NOT NULL,
    "pageId" text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "totalAds" integer NOT NULL,
    "dailyChange" integer,
    "weeklyChange" integer,
    "monthlyChange" integer,
    "dailyChangePercent" double precision,
    "weeklyChangePercent" double precision,
    "monthlyChangePercent" double precision,
    "movingAvg7d" double precision,
    "movingAvg30d" double precision,
    "maxAdsLast7d" integer,
    "minAdsLast7d" integer,
    "avgAdsLast7d" double precision,
    trend text,
    "anomalyDetected" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.metrics OWNER TO postgres;

--
-- Name: pages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pages (
    id text NOT NULL,
    name text NOT NULL,
    "facebookPageId" text NOT NULL,
    url text NOT NULL,
    description text,
    country text,
    language text,
    category text,
    tags text[],
    active boolean DEFAULT true NOT NULL,
    "lastScrapedAt" timestamp(3) without time zone,
    "scrapingEnabled" boolean DEFAULT true NOT NULL,
    "scrapePeriod" text DEFAULT '8d'::text NOT NULL,
    "scrapeFrequency" text DEFAULT 'daily'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "checkoutUrl" text,
    "offerUrl" text
);


ALTER TABLE public.pages OWNER TO postgres;

--
-- Name: scraping_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scraping_logs (
    id text NOT NULL,
    "pageId" text,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "completedAt" timestamp(3) without time zone,
    duration integer,
    status text NOT NULL,
    "pagesScraped" integer DEFAULT 0 NOT NULL,
    "pagesSuccess" integer DEFAULT 0 NOT NULL,
    "pagesFailed" integer DEFAULT 0 NOT NULL,
    errors jsonb[],
    "triggeredBy" text
);


ALTER TABLE public.scraping_logs OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
b7b5f13a-3957-4544-aa1a-1325437f5f18	bf8857825d17555b061b9afcbfe1aa3a4db0a85d2c52c024d9917b954bded2d7	2026-02-08 21:09:08.456123+00	20260117211949_init	\N	\N	2026-02-08 21:09:08.219942+00	1
f233962b-c020-4488-9fa3-1c36ac1c5f28	3890c617e0a26a745bac132b4b874df69e0117377d1e548fc4a9850af9463c11	2026-02-08 21:09:16.356115+00	20260208210916_add_offer_checkout_urls	\N	\N	2026-02-08 21:09:16.342149+00	1
\.


--
-- Data for Name: ad_snapshots; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: metrics; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: scraping_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ad_snapshots ad_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ad_snapshots
    ADD CONSTRAINT ad_snapshots_pkey PRIMARY KEY (id);


--
-- Name: metrics metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.metrics
    ADD CONSTRAINT metrics_pkey PRIMARY KEY (id);


--
-- Name: pages pages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_pkey PRIMARY KEY (id);


--
-- Name: scraping_logs scraping_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scraping_logs
    ADD CONSTRAINT scraping_logs_pkey PRIMARY KEY (id);


--
-- Name: ad_snapshots_pageId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ad_snapshots_pageId_date_idx" ON public.ad_snapshots USING btree ("pageId", date);


--
-- Name: ad_snapshots_pageId_date_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ad_snapshots_pageId_date_key" ON public.ad_snapshots USING btree ("pageId", date);


--
-- Name: ad_snapshots_timestamp_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ad_snapshots_timestamp_idx ON public.ad_snapshots USING btree ("timestamp");


--
-- Name: metrics_pageId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "metrics_pageId_date_idx" ON public.metrics USING btree ("pageId", date);


--
-- Name: metrics_pageId_date_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "metrics_pageId_date_key" ON public.metrics USING btree ("pageId", date);


--
-- Name: pages_active_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pages_active_idx ON public.pages USING btree (active);


--
-- Name: pages_facebookPageId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "pages_facebookPageId_idx" ON public.pages USING btree ("facebookPageId");


--
-- Name: pages_facebookPageId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "pages_facebookPageId_key" ON public.pages USING btree ("facebookPageId");


--
-- Name: scraping_logs_startedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "scraping_logs_startedAt_idx" ON public.scraping_logs USING btree ("startedAt");


--
-- Name: scraping_logs_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX scraping_logs_status_idx ON public.scraping_logs USING btree (status);


--
-- Name: ad_snapshots ad_snapshots_pageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ad_snapshots
    ADD CONSTRAINT "ad_snapshots_pageId_fkey" FOREIGN KEY ("pageId") REFERENCES public.pages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: metrics metrics_pageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.metrics
    ADD CONSTRAINT "metrics_pageId_fkey" FOREIGN KEY ("pageId") REFERENCES public.pages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--